* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow: visible;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.countdown-section {
  text-align: center;
  padding: 50px;
  background-color: #f7f9f8;
  margin-bottom: auto;
}
.countdown-section h2 {
  margin-bottom: 20px;
}
#countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1rem;
}
#countdown-timer div {
  background: #234;
  color: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
}
#countdown-timer span {
  display: block;
  font-size: 3rem;
}

.snowflake {
  position: absolute;
  top: 0;
  color: white;
  font-size: 1em;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

section {
  height: auto;
  margin-bottom: 30px;
  overflow: visible;
}

/* First section */
section.first-section {
  height: 100vh;
  background-image: url("images/banner.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.first-section .content {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.first-section h1 {
  font-size: 3rem;
  transform: translateY(20px);
}

.first-section p {
  font-size: 1.2rem;
}

.first-section a {
  color: white;
  background-color: rgb(234, 4, 4);
  padding: 15px 60px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.first-section a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top right, rgb(60, 60, 60), rgb(47, 42, 42));
  transform: scaleX(0);
  transform-origin: right;
  transition: 200ms transform ease-in-out;
  z-index: -1;
}

.first-section a:hover::before,
.first-section a:focus::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* Second section */
section.second-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.second-section h2,
.third-section h2 {
  font-size: 2.2rem;
  overflow: visible;
  margin: 50px 0;
  letter-spacing: 2px;
}

.demos-container {
  width: 100%;
}

.demos-container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.demos-container .row:nth-child(1) {
  margin-bottom: 30px;
}

.demos-container .demo {
  min-width: 470px;
  max-width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  position: relative;
  transition: 200ms border-radius ease-in-out,
    200ms background-position ease-in-out;
}

.demos-container .demo:hover {
  border-radius: 0;
}

.demos-container .first-demo {
  background-image: url("images/connect\ four\ banner.jpg");
  background-position: top;
}
.demos-container .second-demo {
  background-image: url("images/snake\ banner.png");
  background-position: 50% 70%;
  background-size: 70%;
}
.demos-container .third-demo {
  background-image: url("images/quiz\ banner.png");
  background-position: 50% 20px;
}
.demos-container .fourth-demo {
  background-image: url("images/memory\ card\ banner.png");
  background-position: 50% 70%;
  background-size: 70%;
}

.demos-container .first-demo:hover {
  background-position: center;
}
.demos-container .second-demo:hover {
  background-position: 50% 50%;
}
.demos-container .third-demo:hover {
  background-position: 50% 50%;
}
.demos-container .fourth-demo:hover {
  background-position: 50% 50%;
}

.demos-container .demo .shadow {
  width: 0;
  background-color: rgba(49, 49, 49, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 350ms width ease-in-out;
  opacity: 0;
  z-index: 1;
}

.demos-container .demo:hover .shadow {
  animation-name: animate-entered;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-entered {
  0% {
    width: 0;
    opacity: 0;
  }
  50%,
  60% {
    width: 70%;
    opacity: 1;
  }
  100% {
    width: 62%;
    opacity: 1;
  }
}

.demos-container .demo.leave .shadow {
  animation-name: animate-left;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animate-left {
  from {
    width: 62%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

.demos-container .demo:hover a {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.demos-container .demo .new-label {
  color: white;
  font-size: 1rem;
  padding: 6px 20px;
  background-color: rgb(0, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  position: absolute;
  border-bottom-right-radius: 10px;
}

.demos-container .demo a {
  font-size: 1rem;
  color: white;
  background-color: rgb(234, 4, 4);
  padding: 13px 24px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: 400ms transform ease-out, 250ms opacity ease-in-out;
  text-decoration: none;
  opacity: 0;
  z-index: 1;
}

.demos-container .demo a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(200, 4, 4);
  transform: scaleX(0);
  transform-origin: left;
  transition: 200ms transform ease-in-out;
  z-index: -1;
}

.demos-container .demo a:hover::before,
.demos-container .demo a:focus::before {
  transform: scaleX(1);
}

/* Third Section */
section.third-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(247, 249, 248);
  margin-bottom: -44px;
  padding-bottom: 74px;
}

.third-section .feature-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: visible;
}

.third-section .feature {
  flex: 1 1 calc((100% / 3) - 40px);
  min-width: 200px;
  max-width: calc((100% / 4) - 40px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.5px;
  transition: 200ms transform ease-in-out;
  cursor: default;
  position: relative;
  overflow: visible;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.third-section .feature::after,
.third-section .feature::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: -1;
  animation: 5s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.third-section .feature::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.third-section .feature:hover {
  transform: translateY(-8px);
}

.third-section .feature:hover::before,
.third-section .feature:hover::after {
  background-image: conic-gradient(
    from var(--angle),
    rgba(255, 69, 69, 0.5),
    rgba(0, 255, 153, 0.5),
    rgba(0, 106, 255, 0.5),
    rgba(255, 0, 149, 0.5),
    rgba(255, 69, 69, 0.5)
  );
}

.third-section .feature:hover figcaption {
  transform: scale(1.05);
}

.third-section .feature img {
  width: 40px;
  height: 40px;
  overflow: visible;
}

.third-section .feature figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: visible;
}

.third-section .feature figcaption {
  font-size: 0.9rem;
  font-weight: 400;
  transition: 250ms transform ease-in-out;
}

/* Footer*/
footer {
  width: 100%;
  height: 44px;
  background-color: rgb(234, 4, 4);
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .third-section .feature {
    flex: 1 1 calc((100% / 4) - 40px);
    max-width: calc((100% / 4) - 40px);
  }
}

@media (max-width: 1000px) {
  .third-section .feature {
    flex: 1 1 calc((100% / 3) - 40px);
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .third-section .feature {
    flex: 1 1 calc((100% / 2) - 40px);
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .demos-container .demo {
    min-width: 90%;
    max-width: 90%;
    border-radius: 0;
  }
  .third-section .feature {
    flex: 1 1 calc((100% / 2) - 40px);
    max-width: 80%;
  }
}

@media (hover: none) and (pointer: coarse) {
  .second-section .demos-container .demo {
    background-position: center;
  }
  .second-section .demo .shadow {
    display: none;
  }
  .second-section .demos-container .demo a {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .third-section .feature:focus,
  .third-section .feature:active {
    transform: translateY(-8px);
  }

  .third-section .feature:hover::before,
  .third-section .feature:hover::after,
  .third-section .feature:focus::before,
  .third-section .feature:active::after,
  .third-section .feature:active::before,
  .third-section .feature:active::after {
    background-image: conic-gradient(
      from var(--angle),
      rgba(255, 69, 69, 0.5),
      rgba(0, 255, 153, 0.5),
      rgba(0, 106, 255, 0.5),
      rgba(255, 0, 149, 0.5),
      rgba(255, 69, 69, 0.5)
    );
  }
}
