@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    background-color: pink;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 170px;
    height: 70px;
    background-image: url('sunset.jpg');
    background-color: white;
    border-radius: 80px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-image 0.4s;
    object-fit: cover;
}

.button:active {
    background-image: url('night.jpg');
}

.circle {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    transition: transform 0.4s;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}

p {
    position: absolute;
    top: 340px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}