body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cyan;
}
h1 {
  align-items: center;
  text-decoration: underline;
}
div {
  width: auto;
  padding: 10px;
}
a {
  text-decoration: none;
  color: red;
  font-size: large;
  font-weight: bold;
  transition: font-size 1s ease;
}

a:hover {
  font-size: 150%;
}
