* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(135deg, #007bff, purple, red);
    background-repeat: no-repeat;
}

header {
    background-color: #007bff;
    padding: 20px 0;
    border: none;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

header h1 {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 36px;
    color: #fff;
    margin: auto 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    align-items: start;
}

nav .left-sidebar,
nav .right-sidebar {
    color: black;
    box-shadow: 0 0 15px 0px black;
    padding: 20px;
    border-radius: 8px;
    display: none;
    margin-bottom: 20px;
    user-select: none;
}

.side-information {
    display: flex;
    flex-direction: column;
}

.space-for-h2 {
    margin-bottom: 10px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.projects-info {
    font-size: 15px;
}

nav ul {
    list-style-type: none;
}

:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

nav ul li a, .sidebar-projects {
    margin-bottom: 15px;
    padding: 15px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 15px -10px black;
    border-radius: 8px;
    transition: background-color 0.25s, color 0.25s;
}

nav ul li .projects:hover, .sidebar-projects:hover {
    background-color: #007bff;
    color: #fff;
}

.fixing {
  color: white;
  background-color: red;
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
    nav .left-sidebar,
    nav .right-sidebar {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #searchInput {
        width: 100vw;
    }
}
