* {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: rgba(255, 0, 0, 0.5);
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    touch-action: pan-y;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.main {
    background-color: rgb(26, 28, 42);
    color: white;
    position: absolute;
    top: 70px;
    right: 0;
    width: calc(100% - 270px);
    height: calc(100% + 140px);
}

.main .header .left .title,
.main .header .right {
    opacity: 0.65;
    margin: 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.main .header .right .name {
    font-size: 15px;
    cursor: text;
}

.main .header .right #title {
    font-size: 13px;
    opacity: 0.9;
}

.main .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .boxen .first-row,
.main .boxen .second-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 32px;
}

.main .pages .boxen .first-row,
.main .pages .boxen .second-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    gap: 30px;
    margin-left: 32px;
}

.main .dashboard .boxen .second-row {
    margin-top: 40px;
}

.main .dashboard .boxen .second-row div:nth-child(1) {
    flex: 0.70;
    height: 300px;
}

.main .dashboard .boxen .second-row div:nth-child(2) {
    flex: 0.28;
    height: 300px;
}

.main .dashboard .boxen .box {
    height: 180px;
    background-color: rgb(34, 36, 55);
    flex: 0.244;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .pages .boxen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.main .pages .boxen .box {
    min-height: 70px;
    width: calc(100% - 20px);
    background-color: rgb(34, 36, 55);
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    background-repeat: no-repeat;
}

.main .pages .boxen .first-row:nth-child(1) .box:nth-child(1) {
    background-image: url("images/number guessing game.jpeg");
    background-position: 50% 39%;
    background-color: rgb(82, 223, 249);
}

.main .pages .boxen .first-row:nth-child(2) .box:nth-child(1) {
    background-image: url("images/quiz.jpeg");
    background-position: 50% 45%;
    background-color: white;
}

.main .pages .boxen .first-row:nth-child(3) .box:nth-child(1) {
    background-image: url("images/temperatur.jpeg");
    background-position: 50%;
    background-size: contain;
    background-color: rgb(246, 246, 246);
}

.main .pages .boxen .first-row:nth-child(4) .box:nth-child(1) {
    background-image: url("images/tic tac toe.jpeg");
    background-position: 0 49%;
    background-size: cover;
    background-color: rgb(60, 121, 212);
}

.main .pages .boxen .first-row:nth-child(1) .box:nth-child(2) {
    background-image: url("images/memory card game.jpeg");
    background-position: 0 49%;
    background-size: cover;
    background-color: rgb(57, 216, 152);
}

.main .pages .boxen .first-row:nth-child(2) .box:nth-child(2) {
    background-image: url("images/palindrome checker.jpeg");
    background-position: 0 53%;
    background-size: cover;
    background-color: rgb(253, 253, 253);
}

.main .pages .boxen .first-row:nth-child(3) .box:nth-child(2) {
    background-image: url("images/quote.jpeg");
    background-position: 0 31%;
    background-size: cover;
    background-color: rgb(0, 123, 193);
}

.main .pages .boxen .first-row:nth-child(4) .box:nth-child(2) {
    background-image: url("images/todo list.jpeg");
    background-position: 0 45%;
    background-size: cover;
    background-color: rgb(1, 109, 158);
}

.main .pages .boxen .first-row:nth-child(1) .box:nth-child(3) {
    background-image: url("images/word scramble.jpeg");
    background-position: 0 47%;
    background-size: cover;
    background-color: rgb(79, 42, 119);
}

.main .pages .boxen .first-row:nth-child(2) .box:nth-child(3) {
    background-image: url("images/slide puzzle.jpeg");
    background-position: 0 50%;
    background-size: cover;
    background-color: rgb(242, 106, 4);
}

.main .pages .boxen .first-row:nth-child(3) .box:nth-child(3) {
    background-image: url("images/4 in a row.jpeg");
    background-position: 50%;
    background-size: contain;
    background-color: white;
}

.main .pages .boxen .first-row:nth-child(4) .box:nth-child(3) {
    background-image: url("images/rock paper scissors.jpeg");
    background-position: 0 36%;
    background-size: cover;
    background-color: rgb(28, 28, 30);
}

.main .pages .boxen .first-row:nth-child(1) .box:nth-child(4) {
    background-image: url("images/simon says.jpeg");
    background-position: 0 7%;
    background-size: cover;
    background-color: rgb(24, 24, 24);
}

.main .dashboard .boxen .first-row .box .row {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
}

.main .dashboard .boxen .first-row .box .row p {
    opacity: 0.65;
    padding: 40px 0;
}

.main .dashboard .boxen .first-row .box .row .circle {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .dashboard .boxen .first-row .box .row .circle i {
    font-size: 20px;
}


.main .dashboard .boxen .first-row .box:nth-child(1) .row .circle {
    background-color: rgb(48, 65, 155);
}

.main .dashboard .boxen .first-row .box:nth-child(2) .row .circle {
    background-color: rgb(2, 197, 141);
}

.main .dashboard .boxen .first-row .box:nth-child(3) .row .circle {
    background-color: rgb(252, 190, 45);
}

.main .dashboard .boxen .first-row .box:nth-child(4) .row .circle {
    background-color: rgb(252, 84, 84);
}

.main .dashboard .boxen .first-row .box .number {
    opacity: 0.7;
    font-size: 27.5px;
    margin-left: 40px;
    margin-top: -20px;
    transform: translateX(-80px);
}

.main .dashboard .boxen .first-row .box .row-label {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .dashboard .boxen .first-row .box .row-label .previous-label {
    opacity: 0.3;
    font-size: 12px;
    margin-top: 10px;
}

.main .dashboard .boxen .first-row .box .line {
    margin-top: 20px;
    width: 70%;
    height: 5px;
    border-radius: 36px;
}

.main .dashboard .boxen .first-row .box:nth-child(1) .line {
    background: linear-gradient(to right, rgb(48, 65, 155) 10%, rgb(46, 48, 74) 10%);
}

.main .dashboard .boxen .first-row .box:nth-child(2) .line {
    background: linear-gradient(to right, rgb(2, 197, 141) 20%, rgb(46, 48, 74) 20%);
}

.main .dashboard .boxen .first-row .box:nth-child(3) .line {
    background: linear-gradient(to right, rgb(252, 190, 45) 65%, rgb(46, 48, 74) 65%)
}

.main .dashboard .boxen .first-row .box:nth-child(4) .line {
    background: rgb(46, 48, 74) 82%;
}

.main .about .boxen {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main .about .boxen .row {
    align-items: flex-start;
}

.main .about .boxen .second-row {
    margin-bottom: 23px;
}

.main .about .boxen .row .box {
    line-height: 25px;
    padding: 15px;
    height: auto;
    background-color: rgb(34, 36, 55);
    flex: 0.3;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: auto;
}

.main .about .boxen .row .box p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
    transition: color 0.3s, opacity 0.3s;
}

.main .about .boxen .row .box:hover p {
    color: white;
    opacity: 0.6;
}

.main .not-available {
    height: calc(100% - 75px);
}

.main .not-available .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: red;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.main .not-available .container i {
    font-size: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(48, 65, 155);
    color: white;
}

header .first-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .first-part .fa-code {
    color: white;
    margin-left: 80px;
    font-size: 20px;
}

header .first-part #name {
    letter-spacing: 2px;
    margin-left: 10px;
    font-size: 20px;
}

header .first-part .fa-grip-lines {
    font-size: 17.5px;
    margin-left: 100px;
    cursor: pointer;
}

header .first-part .search-box {
    background-color: rgb(69, 84, 165);
    margin-left: 20px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 36px;
    outline: none;
    color: white;
    padding-left: 15px;
    zoom: none;
}

header .first-part .search-box::placeholder {
    color: white;
    opacity: 0.7;
}

header .first-part .fa-search {
    transform: translateX(-30px);
    opacity: 0.7;
    font-size: 14px;
    cursor: pointer;
}

header .second-part {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .second-part .fa-bell {
    font-size: 18px;
    cursor: pointer;
}

header .second-part #notification-count {
    width: 15px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(252, 84, 84);
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transform: translate(-8px, -7px);
    cursor: pointer;
}

header .second-part #profile {
    width: 30px;
    height: 30px;
    object-position: top;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: 0 -10px;
}

.left-sidebar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 250px;
    height: calc(100% + 120px);
    background-color: rgb(34, 36, 55);
    color: white;
    padding: 20px 0 0 20px;
}

.left-sidebar .title {
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 2px;
}

.left-sidebar .list {
    list-style: none;
    margin: 23px 0;
    font-size: 16px;
}

.left-sidebar .list div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.left-sidebar .list .right {
    margin-right: 20px;
}

.left-sidebar .list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.main .calender .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.main .calender .container .calender {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 600px;
    flex: 0.65;
    gap: 25px;
}

.main .calender .container .calender .rows {
    width: 100%;
}

.main .calender .container .calender .header {
    width: calc(100% - 80px);
    min-height: 70px;
    background-color: rgb(34, 36, 55);
    border-radius: 5px;
    padding: 0 40px;
    display: flex;
    flex: 1;
    align-items: center;
}

.main .calender .container .calender .header .left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0.7;
}

.main .calender .container .calender .header .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.2;
}

.main .calender .container .calender .header .right-side p {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;
}

.main .calender .container .calender .header .right-side:hover,
.main .calender .container .calender .header .left-side .fa-plus:hover,
.main .calender .container .calender .header .left-side .fa-minus:hover {
    color: wheat;
}

.main .calender .container .calender .header .left-side .fa-plus,
.main .calender .container .calender .header .left-side .fa-minus {
    font-size: 25px;
    cursor: pointer;
}

.main .calender .container .calender .header .fa-pipe {
    background-color: white;
    width: 3px;
    height: 60%;
    border-radius: 100px;
}

.main .calender .container .calender .header .left-side .date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main .calender .container .calender .header .left-side .date p {
    font-size: 25px;
}

.main .calender .container .calender .bottom {
    width: 100%;
    min-height: 205px;
    background-color: rgb(34, 36, 55);
    border-radius: 5px;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 23px;
}

.main .calender .container .calender .row {
    width: 100%;
    display: flex !important;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100px;
}

.main .calender .container .calender .rows .calender-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0.125;
    background-color: rgba(69, 84, 165, 0.8);
    border: 1px solid rgb(26, 28, 42);
    padding: 10px;
}


.main .calender .container .calender .rows .first-row {
    display: inline;
}

.main .calender .container .right {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    gap: 50px;
}

.main .calender .container .right .add,
.main .calender .right .information {
    height: 350px;
    background-color: rgb(34, 36, 55);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.main .calender .container .right .add .search-box {
    background-color: rgb(69, 84, 165);
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 36px;
    outline: none;
    color: white;
    padding-left: 15px;
    zoom: none;
}

.main .calender .container .right .add .search-box::placeholder {
    color: white;
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {

    body,
    html {
        overflow-x: hidden;
    }

    html {
        min-height: 100%;
        background: none;
        background: rgb(26, 28, 42);
    }

    header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header * {
        margin: 10px !important;
    }

    header .first-part,
    header .second-part {
        margin: 0 !important;
    }

    header .second-part,
    header .second-part #profile {
        margin: 0 !important;
        margin-left: -20px !important;
    }

    header .first-part #name,
    header .first-part .fa-code,
    header .first-part .fa-grip-lines {
        font-size: 14px;
    }

    header .first-part .fa-search {
        transform: translateX(-50px);
    }

    header .first-part .search-box {
        width: 50px;
    }

    header .first-part .search-box::placeholder {
        color: transparent;
    }

    header .second-part #notification-count {
        transform: translate(-27px, -7px);
    }

    .main {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(120% - 70px);
    }

    .left-sidebar {
        min-width: 100%;
        max-height: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-sidebar .menu-list,
    .left-sidebar .title {
        display: none;
    }

    .left-sidebar .list {
        margin: 0;
    }

    .left-sidebar .list li {
        margin-top: 20px;
    }

    .left-sidebar .x-list,
    .left-sidebar .x-list-title {
        display: none;
    }

    .left-sidebar .list .right .fa-caret-right {
        margin-left: 10px;
    }

    .left-sidebar .menu-list-title {
        padding-bottom: 2px;
        border-bottom: 2px solid white;
    }

    .main .boxen .first-row,
    .main .boxen .second-row {
        flex-wrap: wrap;
    }

    .main .dashboard .boxen .first-row,
    .main .dashboard .boxen .second-row {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .main .dashboard .boxen .box {
        min-width: calc(100% - 60px);
    }

    .main .about .boxen .first-row .box {
        min-width: 85%;
    }

    .main .about .boxen .first-row:nth-child(2) .box:nth-child(2) {
        margin-bottom: 20px;
    }

    .main .dashboard .boxen .second-row .box:nth-child(2) {
        margin-bottom: 20px;
    }

    .main .calender .container {
        flex-direction: column;
        margin: 0 20px;
    }

    .main .calender .container .calender .header {
        padding: 20px;
        width: calc(100% - 40px);
    }

    .main .calender .container .calender .header .left-side p,
    .main .calender .container .calender .header .left-side i {
        font-size: 20px !important;
        margin: 0 10px;
    }

    .main .calender .container .calender .header .left-side #date-seperator {
        margin: 0;
    }

    .main .calender .container .calender .header .left-side .date {
        gap: 0;
    }

    .main .calender .container .calender .header .fa-pipe {
        height: 60px !important;
    }
}
