:root {
    --footerElementSpace: 13%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, blue 50%, darkblue 50%);
    color: darkblue;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    height: 350px;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -3px black;
}

#title {
    margin: 15px 0 0 18px;
    font-size: 20px;
}

hr {
    background-color: darkblue;
    width: 90%;
    height: 1px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-left: 18px;
}

#question {
    max-width: 400px;
    margin-top: 12px;
    margin-left: 18px;
}

button {
    padding: 7px;
    width: 90%;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: darkblue;
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    margin-top: 12px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#next {
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    width: 100px;
    align-items: center;
}

#question-index {
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index {
    margin-right: 5px;
}
