/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0026dfb3;
}

.container {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px;
}

#title, #low-high, #chances {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#low-high {
    margin-top: 7px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.action {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    font-size: 20px;
    cursor: pointer;
}

#number {
    border: 2px solid gray;
    text-align: center;
    color: rgb(86, 86, 86);
}

#check {
    color: white;
    background-color: #006affb3;
    border: none;
}

span {
    margin: 0 5px;
}
