body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

button {
    font-size: 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px 10px;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}
