:root {
  --small-sections-width: 55px;
  --light-main-color: rgb(61, 155, 255);
  --lighter-main-color: rgba(0, 123, 255, 0.3);
  --lighter-super-main-color: rgba(0, 123, 255, 0.2);
  --lighter-plus-main-color: rgba(0, 123, 255, 0.1);
  --dark-main-color: rgb(0, 123, 255);
  --darker-main-color: rgb(0, 50, 104);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  background-color: var(--dark-main-color);
  font-family: "Poppins", sans-serif;
}

.snowflake {
  position: absolute;
  top: 0;
  z-index: 1000;
  color: white;
  font-size: 1em;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

div.container {
  width: 400px;
  height: 420px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px -3px black;
  transform: translate(-50%, 0);
  transition: 150ms height ease-in-out;
  position: absolute;
  left: 50%;
}

header {
  width: 100%;
  height: var(--small-sections-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 7px 5px -5px rgba(128, 128, 128, 0.5);
  border-bottom-width: 0;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--dark-main-color);
  transform: scaleX(0);
  transform-origin: left;
  animation-name: header-slide;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes header-slide {
  0%,
  87.7%,
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
  12.5%,
  75% {
    transform-origin: left;
    transform: scaleX(1);
  }
  25%,
  62.5% {
    transform-origin: right;
    transform: scaleX(1);
  }
  37.5%,
  50% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

header.game-over::before {
  background-color: red;
  animation: none;
  transform: scaleX(1);
}

header.true-answer::before {
  background-color: green;
  animation: none;
  transform: scaleX(1);
}

header .title {
  font-size: 0.9rem;
  font-weight: 600;
}

header .time-box {
  background-color: var(--lighter-main-color);
  color: var(--darker-main-color);
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 6px;
  border-radius: 3px;
}

header #time-counter {
  height: 16px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 58, 64);
  color: white;
  padding: 0 6px;
  border-radius: 3px;
  letter-spacing: 0.4px;
}

main {
  width: 100%;
  height: calc(100% - (var(--small-sections-width) * 2));
  padding: 15px 25px;
  overflow-y: scroll;
}

main .question-container {
  display: flex;
}

main #question {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

main .question-container span {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 5px;
  overflow: visible;
}

.answer-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.answer-options button {
  width: 100%;
  max-height: 34px;
  padding: 8px 20px 8px 10px;
  text-align: left;
  background-color: var(--lighter-plus-main-color);
  color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--lighter-main-color);
  border-radius: 3px;
}

button.before-solution {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

button.before-solution::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--lighter-plus-main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 200ms transform ease-in-out;
  z-index: -1;
}

button.before-solution:hover::before {
  transform: scaleX(1);
}

main button i {
  width: 10px;
  z-index: 1000;
  overflow: visible;
  font-size: 1.05rem;
}

footer {
  font-size: 0.9rem;
  width: 100%;
  height: var(--small-sections-width);
  border-top: 1.2px solid rgba(128, 128, 128, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer #question-number,
footer #total-questions {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 3px;
}

footer button {
  background-color: var(--dark-main-color);
  color: white;
  padding: 7px 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

footer button::before {
  content: "";
  background-color: var(--light-main-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 200ms transform ease-in-out;
  z-index: -1;
}

footer button:hover::before {
  transform: scaleX(1);
}

footer .disabled {
  background-color: gray;
  cursor: default;
}

footer .disabled:hover::before {
  transform: scaleX(0);
  user-select: none;
}

@media screen and (max-width: 450px) {
  div.container {
    width: 90%;
  }
  main {
    overflow: scroll;
  }
}
