* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 220, 255);
  color: hsl(252, 100%, 50%);
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header {
  width: 390px;
  height: 100px;
  background-color: rgb(213, 222, 255);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(252, 100%, 50%);
  border-radius: 5px;
  letter-spacing: 3px;
}

main {
  width: calc(455px - 0.8px * 7);
  height: calc(390px - 0.8px * 6);
  background-color: rgb(213, 222, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid hsl(252, 100%, 50%);
  border-radius: 5px;
}

.inner-box {
  width: calc(100% / 7);
  height: calc(100% / 6);
  border: 2px solid hsl(252, 100%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.line-mark {
  width: 65px;
  height: 10px;
  background-color: black;
  position: absolute;
  z-index: 10;
}

.line-mark.horizontal-mark {
  rotate: 0deg;
}
.line-mark.vertical-mark {
  rotate: 90deg;
}
.line-mark.rise-mark {
  rotate: 135deg;
  width: 90px;
}
.line-mark.fall-mark {
  rotate: 45deg;
  width: 90px;
}

button {
  font-size: 0.8rem;
  width: 100px;
  height: 30px;
  color: hsl(252, 100%, 50%);
  background-color: hsl(227, 100%, 92%);
  border: 1.5px solid hsl(252, 100%, 50%);
  border-radius: 2px;
  transition: 200ms color ease-in-out;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transition: 200ms transform ease-in-out;
  transform-origin: left;
  z-index: -1;
  background-color: hsl(227, 100%, 87%);
}

button:hover::before {
  transform: scaleX(1);
}

button:hover,
button:focus {
  color: darkblue;
}

@media screen and (max-width: 500px) {
  main {
    width: 90%;
  }
  header {
    width: 80%;
  }
}

@media screen and (max-width: 250px) {
  main {
    width: 90%;
  }
  header {
    width: 80%;
  }
  header span {
    font-size: 1.5rem;
  }
}
