body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 29%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin: 40px 0 15px 0;
    transition: transform 0.2s;
}

.line:hover {
    transform: translateY(-20px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.display {
    margin-right: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 5em;
    font-weight: 200;
    padding: 10px;
    box-sizing: border-box;
}

button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px;
    border: none;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: xx-large;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    opacity: 0.8;
}

#btn-0 {
    width: 164px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 27px;
    font-weight: 400;
}

#btn-percent {
    font-weight: 600;
}

#btn-divide {
    font-weight: 600;
}

.divider {
    margin: -5px;
}

.plus {
    font-size: 0.7em;
    margin-bottom: 10px;
    font-weight: 700;
}

.minus {
    margin-top: 10px;
    font-weight: 500;
}

#btn-multiply {
    font-weight: 600;
}

.inner-content:nth-child(5) {
    width: 100%;
}

.inner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.light-gray {
    background-color: rgb(159, 159, 159);
}

.orange {
    background-color: rgb(255, 166, 0);
    color: white;
    font-size: 2.5em;
    transition: background-color 0.1s, color 0.1s;
}

.orange:hover {
    opacity: 1;
    background-color: white;
    color: orange;
}

.gray {
    color: white;
    background-color: rgb(72, 72, 72);
}

.light-gray {
    color: black;
}
